In [1]:
import numpy as np
import pandas as pd
import datetime

import warnings
warnings.filterwarnings('ignore')

np.random.seed(0)
arr  = np.zeros((10000,20))
df = pd.DataFrame(arr,columns = ['id','cusno','gender','age_21','region','date_20','day_20','date_21','day_21','product_20','product_21','price_20','price_21','quantity_20','quantity_21','time_20','time_21','amount_20','amount_21','sales'])

#거래 id 데이터

ids = np.arange(1,10001)
df.id = ids

#고객 데이터
cusnos = np.random.randint(1,1001,size = (10000,))
df.cusno = cusnos
genders = np.random.choice(['male','female'],1000)
ages = np.random.randint(1,81,size = (1000,))
regions = np.random.randint(1,11,size = (1000,))

gendercus = []
agecus = []
regioncus = []
for i in range(10000):
    gendercus.append(genders[cusnos[i]-1])
    agecus.append(ages[cusnos[i]-1])
    regioncus.append(regions[cusnos[i]-1])
    
df.gender = gendercus
df.age_21 = agecus
df.region = regioncus

#가격 데이터


prices20 = np.random.randint(10,500,size=(10000,))*100
prices21 = np.random.randint(10,500,size=(10000,))*100
df.price_20 = prices20
df.price_21 = prices21

bin_names = ['10','20','30']
#가격대 제품코드 부여
count,bin_dividers = np.histogram(df.price_20,bins=3)                
df['product_20'] = pd.cut(x=df.price_20,
                   bins=bin_dividers,
                   labels=bin_names, 
                   include_lowest=True)
count,bin_dividers = np.histogram(df.price_21,bins=3)                
df['product_21'] = pd.cut(x=df.price_21, 
                   bins=bin_dividers,
                   labels=bin_names, 
                   include_lowest=True) 


quantity20 = np.random.randint(1,101,size=(10000,))
quantity21 = np.random.randint(1,101,size=(10000,))
df.quantity_20 = quantity20
df.quantity_21 = quantity21
df.amount_20 = df.price_20 * df.quantity_20
df.amount_21 = df.price_21 * df.quantity_21
# 날짜 생성
dates20 = pd.period_range(start='2020-01-01',end='2020-12-31', freq = 'D')
dates21 = pd.period_range(start='2021-01-01',end='2021-12-31', freq = 'D')

listdate20 = list(dates20.strftime('%Y-%m-%d'))
listdate21 = list(dates21.strftime('%Y-%m-%d'))

datefinal20 = np.random.choice(listdate20,10000)
datefinal21 = np.random.choice(listdate21,10000)

df.date_20 = datefinal20
df.date_21 = datefinal21

# 요일 생성
def get_yoil(y,m,d):
    days = ['MON','TUE','WED','THU','FRI','SAT','SUN']
    return days[datetime.date(y,m,d).weekday()]

yoil20 = []
yoil21 = []
for i in range(10000):
    x =  datefinal20[i].split('-')
    y =  datefinal21[i].split('-')
    yoil20.append(get_yoil(int(x[0]),int(x[1]),int(x[2])))
    yoil21.append(get_yoil(int(y[0]),int(y[1]),int(y[2])))

df.day_20 = yoil20
df.day_21 = yoil21
    
# 시간 생성
df.time_20 = np.random.randint(0,24,size = 10000)
df.time_21 = np.random.randint(0,24,size = 10000)
    
    
df.sales = (df.amount_21>df.amount_20).astype(int)


display(df.head())
display(df.info())

,id,cusno,gender,age_21,region,date_20,day_20,date_21,day_21,product_20,product_21,price_20,price_21,quantity_20,quantity_21,time_20,time_21,amount_20,amount_21,sales
0,1,685,female,42,6,2020-11-11,WED,2021-05-19,WED,30,20,47200,30100,100,18,10,0,4720000,541800,0
1,2,560,female,28,2,2020-05-07,THU,2021-07-06,TUE,20,10,27800,3400,45,42,19,12,1251000,142800,0
2,3,630,female,58,8,2020-02-02,SUN,2021-01-21,THU,10,20,15600,21900,98,64,4,7,1528800,1401600,0
3,4,193,female,11,7,2020-06-28,SUN,2021-04-28,WED,30,10,45700,9700,49,19,5,18,2239300,184300,0
4,5,836,male,42,7,2020-12-28,MON,2021-02-19,FRI,10,10,9800,8100,97,12,0,4,950600,97200,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           10000 non-null  int32
 1   cusno        10000 non-null  int32
 2   gender       10000 non-null  object
 3   age_21       10000 non-null  int32
 4   region       10000 non-null  int32
 5   date_20      10000 non-null  object
 6   day_20       10000 non-null  object
 7   date_21      10000 non-null  object
 8   day_21       10000 non-null  object
 9   product_20   10000 non-null  category
 10  product_21   10000 non-null  category
 11  price_20     10000 non-null  int32
 12  price_21     10000 non-null  int32
 13  quantity_20  10000 non-null  int32
 14  quantity_21  10000 non-null  int32
 15  time_20      10000 non-null  int32
 16  time_21      10000 non-null  int32
 17  amount_20    10000 non-null  int32
 18  amount_21    10000 non-null  int32
 19  sales        10000 non-null  int32
dtypes: category(2), int32(13), object(5)
memory usage: 918.4+ KB

None