In [ ]:
#### Q2. df를 수정하여 5가지 이상의 인사이트를 포함한 데이터 셋으로 변환하세요

#### Q3. df 를 탐색적 분석을 통하여 인사이트를 도출하세요.

In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
from random import randrange
import warnings
warnings.filterwarnings(action='ignore')
np.random.seed(0)
index=np.arange(10000)
df=pd.DataFrame(np.random.rand(10000,11),index=index,columns=['cusno','gender','age','region',
                                           'day','date','product1','price','quantity','time','amount']) 

df.cusno=np.random.randint(0,1000,10000)
gender=np.random.randint(0,2,10000)
for i in range(len(df)):
    df.gender[i]=gender[df.cusno[i]]
age=np.random.randint(0,81,10000) 
for i in range(len(df)):
    df.age[i]=age[df.cusno[i]].astype(int)
region=np.random.randint(0,11,10000)
for i in range(len(df)):
    df.region[i]=region[df.cusno[i]].astype(int)
date_list=[]
start_date = pd.to_datetime('2020-01-01')
end_date = pd.to_datetime('2021-12-31')
date_list = pd.date_range(start_date,end_date,freq='D')
df.date=np.random.choice(date_list,10000)
df.day = df.date.dt.day_name()
df.product1=np.random.randint(10,40,10000)
price= np.random.randint(1,101,10000)
for i in range(len(df)):    
    if df.product1[i] < 20:
        df.price[i] = price[df.product1[i]]*10
    elif df.product1[i] < 30:
        df.price[i] = price[df.product1[i]]*1000
    elif df.product1[i] < 40:
        df.price[i] = price[df.product1[i]]*100000
df.quantity=np.random.randint(1,20,10000)
# df.quantity_21=np.random.randint(1,101,10000)
df.time=np.random.randint(10,23,10000)
# df.time_21=np.random.randint(1,25,10000)
df.amount = df.price*df.quantity
df=df.astype({'gender':'int','age':'int','region':'int','price':'int','amount':'int'})
# df.amount_21 = df.price_21*df.quantity_21
# df.loc[df.amount_21 > df.amount_20,'sales'] = 1
# df.loc[df.amount_21 < df.amount_20,'sales'] = 0
# df.loc[df.amount_21 == df.amount_20,'sales'] = np.nan
df
# 시간 10 to 22 입장시간 

# 크리스마스등 특정 연휴에 판매 증가 저->고 갈수록 제품의 매출 증가 
# 월-금 시간대에 시간을 제약해보기 (20대 ~ 50대 )
# 나이대에 따라 저 중 고 선호도 추가

,cusno,gender,age,region,day,date,product1,price,quantity,time,amount
0,776,1,19,10,Tuesday,2020-04-07,23,2000,14,10,28000
1,886,1,71,5,Friday,2020-10-02,14,760,13,10,9880
2,550,0,2,10,Friday,2020-05-29,14,760,1,19,760
3,864,0,25,5,Sunday,2020-06-28,39,400000,16,17,6400000
4,377,1,59,10,Thursday,2020-01-02,22,71000,11,10,781000
...,...,...,...,...,...,...,...,...,...,...,...
9995,460,1,28,7,Saturday,2021-07-03,22,71000,13,10,923000
9996,823,1,18,0,Wednesday,2020-07-01,13,370,14,20,5180
9997,947,0,15,10,Tuesday,2021-09-07,13,370,19,22,7030
9998,26,1,19,6,Thursday,2020-05-07,10,590,18,14,10620
9999,42,1,9,8,Tuesday,2021-06-01,36,2100000,10,22,21000000

In [2]:
df1=df.copy()
df1['product_tag']=df1.product1
for i in range(len(df1)):
    if df1.product_tag[i]<20:
        df1.product_tag[i]='저'
    elif df1.product_tag[i]<30:
        df1.product_tag[i]='중'
    elif df1.product_tag[i]<40:
        df1.product_tag[i]='고'
df1['year']=df1.date.dt.year
for i in range(len(df1)):
    if df1.age[i] < 10:
        df1.age[i] = 0
    elif df1.age[i] < 20:
        df1.age[i] = 10
    elif df1.age[i] < 30:
        df1.age[i] = 20
    elif df1.age[i] < 40:
        df1.age[i] = 30
    elif df1.age[i] < 50:
        df1.age[i] = 40
    elif df1.age[i] < 60:
        df1.age[i] = 50
    elif df1.age[i] < 70:
        df1.age[i] = 60
    elif df1.age[i] < 80:
        df1.age[i] = 70
df1['who']=df1.age
for i in range(len(df1)):    
    if df1.who[i] < 10:
        df1.who[i] = 'child'
    elif df1.who[i] < 25:
        df1.who[i] = 'student' 
    elif df1.who[i] < 65:
        df1.who[i] = 'worker'
    else: 
        df1.who[i] = 'elder'
df1

,cusno,gender,age,region,day,date,product1,price,quantity,time,amount,product_tag,year,who
0,776,1,10,10,Tuesday,2020-04-07,23,2000,14,10,28000,중,2020,student
1,886,1,70,5,Friday,2020-10-02,14,760,13,10,9880,저,2020,elder
2,550,0,0,10,Friday,2020-05-29,14,760,1,19,760,저,2020,child
3,864,0,20,5,Sunday,2020-06-28,39,400000,16,17,6400000,고,2020,student
4,377,1,50,10,Thursday,2020-01-02,22,71000,11,10,781000,중,2020,worker
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,460,1,20,7,Saturday,2021-07-03,22,71000,13,10,923000,중,2021,student
9996,823,1,10,0,Wednesday,2020-07-01,13,370,14,20,5180,저,2020,student
9997,947,0,10,10,Tuesday,2021-09-07,13,370,19,22,7030,저,2021,student
9998,26,1,10,6,Thursday,2020-05-07,10,590,18,14,10620,저,2020,student
9999,42,1,0,8,Tuesday,2021-06-01,36,2100000,10,22,21000000,고,2021,child

In [3]:
#소득구간별 선호 제품
df1.loc[(df1.product_tag=='저') & (df1.who=='child'),'quantity']=np.random.randint(0,10,422)
df1.loc[(df1.product_tag=='중') & (df1.who=='child'),'quantity']=np.random.randint(0,5,406)
df1.loc[(df1.product_tag=='고') & (df1.who=='child'),'quantity']=np.random.randint(0,3,396)

df1.loc[(df1.product_tag=='저') & (df1.who=='student'),'quantity']=np.random.randint(0,20,809)
df1.loc[(df1.product_tag=='중') & (df1.who=='student'),'quantity']=np.random.randint(0,15,778)
df1.loc[(df1.product_tag=='고') & (df1.who=='student'),'quantity']=np.random.randint(0,5,799)

df1.loc[(df1.product_tag=='저') & (df1.who=='worker'),'quantity']=np.random.randint(0,20,1763)
df1.loc[(df1.product_tag=='중') & (df1.who=='worker'),'quantity']=np.random.randint(0,20,1728)
df1.loc[(df1.product_tag=='고') & (df1.who=='worker'),'quantity']=np.random.randint(0,15,1712)

df1.loc[(df1.product_tag=='저') & (df1.who=='elder'),'quantity']=np.random.randint(0,15,393)
df1.loc[(df1.product_tag=='중') & (df1.who=='elder'),'quantity']=np.random.randint(0,15,399)
df1.loc[(df1.product_tag=='고') & (df1.who=='elder'),'quantity']=np.random.randint(0,15,395)
df1.amount = df1.price*df1.quantity

In [4]:
# 토요일 일요일 주말동안 매출 상승
df1.loc[df1.day=='Saturday','quantity'] = np.random.randint(1,35,1388)
df1.loc[df1.day=='Sunday','quantity'] = np.random.randint(1,35,1460)
df1.amount = df1.price*df1.quantity

In [17]:
grouped_day=df1.groupby(['day'])
display(grouped_day.get_group('Saturday'))
display(grouped_day.get_group('Sunday'))0

,cusno,gender,age,region,day,date,product1,price,quantity,time,amount,product_tag,year,who
6,129,0,60,3,Saturday,2020-01-25,19,380,13,10,4940,저,2020,worker
14,695,0,50,5,Saturday,2021-03-13,29,32000,16,21,512000,중,2021,worker
16,671,1,10,3,Saturday,2020-04-04,18,220,19,13,4180,저,2020,student
50,279,1,60,6,Saturday,2021-02-27,22,71000,11,20,781000,중,2021,worker
56,411,1,20,6,Saturday,2021-02-06,18,220,13,21,2860,저,2021,student
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9980,775,1,60,1,Saturday,2021-03-13,23,2000,10,11,20000,중,2021,worker
9984,884,0,30,9,Saturday,2020-10-17,38,800000,3,11,2400000,고,2020,worker
9990,648,0,10,4,Saturday,2021-03-06,36,2100000,11,12,23100000,고,2021,student
9991,118,0,70,9,Saturday,2021-07-10,39,400000,18,18,7200000,고,2021,elder
9995,460,1,20,7,Saturday,2021-07-03,22,71000,13,10,923000,중,2021,student

,cusno,gender,age,region,day,date,product1,price,quantity,time,amount,product_tag,year,who
3,864,0,20,5,Sunday,2020-06-28,39,400000,16,17,6400000,고,2020,student
7,862,0,40,3,Sunday,2021-12-19,27,61000,17,19,1037000,중,2021,worker
13,216,1,60,6,Sunday,2020-10-18,33,1500000,5,22,7500000,고,2020,worker
24,256,1,40,7,Sunday,2021-05-02,35,8500000,5,13,42500000,고,2021,worker
36,341,1,20,2,Sunday,2020-03-29,36,2100000,8,22,16800000,고,2020,student
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9944,521,0,50,2,Sunday,2021-07-18,11,740,9,16,6660,저,2021,worker
9950,736,1,10,5,Sunday,2021-02-07,23,2000,2,15,4000,중,2021,student
9951,645,1,40,6,Sunday,2020-12-06,24,26000,15,20,390000,중,2020,worker
9966,664,0,0,9,Sunday,2021-05-23,33,1500000,1,14,1500000,고,2021,child
9994,793,1,50,9,Sunday,2021-10-10,16,670,18,16,12060,저,2021,worker

In [20]:
#크리스마스 매출증가
df1.loc[(df1.date=='2020-12-25') | (df1.date=='2020-12-24') |
        (df1.date=='2021-12-25') | (df1.date=='2021-12-24')].head()

,cusno,gender,age,region,day,date,product1,price,quantity,time,amount,product_tag,year,who
399,516,1,40,1,Saturday,2021-12-25,23,2000,27,22,22000,중,2021,worker
598,345,1,70,4,Saturday,2021-12-25,12,710,10,19,12780,저,2021,elder
753,282,1,10,10,Saturday,2021-12-25,10,590,22,20,5900,저,2021,student
965,393,1,0,1,Saturday,2021-12-25,27,61000,15,21,488000,중,2021,child
1036,564,1,70,7,Thursday,2020-12-24,34,1800000,12,14,16200000,고,2020,elder

In [5]:
df1.loc[(df1.date=='2020-12-25') | (df1.date=='2020-12-24') |
        (df1.date=='2021-12-25') | (df1.date=='2021-12-24'),'quantity']= np.random.randint(10,45,58)
df1.amount = df1.price*df1.quantity

In [6]:
#시간대 제약
list_time=[12,13,14,18,19,20,21,22 ]
list_retime=[11,15,16,17]
df1.loc[(df1.day!='Saturday') & (df1.day!='Sunday') & (df1.who=='worker'),'time']=nandom=np.random.choice(list_time,3714)

In [52]:
# list=[]
# list=df1.loc[(df1.day!='Saturday') & (df1.day!='Sunday') & (df1.who=='worker')].index
# list(list)

In [7]:
df1

,cusno,gender,age,region,day,date,product1,price,quantity,time,amount,product_tag,year,who
0,776,1,10,10,Tuesday,2020-04-07,23,2000,9,10,18000,중,2020,student
1,886,1,70,5,Friday,2020-10-02,14,760,12,10,9120,저,2020,elder
2,550,0,0,10,Friday,2020-05-29,14,760,1,19,760,저,2020,child
3,864,0,20,5,Sunday,2020-06-28,39,400000,30,17,12000000,고,2020,student
4,377,1,50,10,Thursday,2020-01-02,22,71000,5,20,355000,중,2020,worker
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,460,1,20,7,Saturday,2021-07-03,22,71000,16,10,1136000,중,2021,student
9996,823,1,10,0,Wednesday,2020-07-01,13,370,19,20,7030,저,2020,student
9997,947,0,10,10,Tuesday,2021-09-07,13,370,13,22,4810,저,2021,student
9998,26,1,10,6,Thursday,2020-05-07,10,590,0,14,0,저,2020,student
9999,42,1,0,8,Tuesday,2021-06-01,36,2100000,2,22,4200000,고,2021,child

In [8]:
pdf=pd.pivot_table(df1,
                    index=['who'],
                    columns=['product_tag'],
                    values=['quantity'],
                    aggfunc=['sum','mean']
                   )
pdf
#특정 계층별 선호도

                 sum                     mean
            quantity                 quantity
product_tag        고      저      중          고          저          중
who
child           2282   3477   2593   5.762626   8.239336   6.386700
elder           3986   3950   4301  10.091139  10.050891  10.779449
student         5483   9781   7919   6.862328  12.090235  10.178663
worker         17100  21138  20108   9.988318  11.989790  11.636574

In [57]:
df1

,cusno,gender,age,region,day,date,product1,price,quantity,time,amount,product_tag,year,who
0,776,1,10,10,Tuesday,2020-04-07,23,2000,6,10,12000,중,2020,student
1,886,1,70,5,Friday,2020-10-02,14,760,1,10,760,저,2020,elder
2,550,0,0,10,Friday,2020-05-29,14,760,2,19,1520,저,2020,child
3,864,0,20,5,Sunday,2020-06-28,39,400000,4,17,1600000,고,2020,student
4,377,1,50,10,Thursday,2020-01-02,22,71000,12,21,852000,중,2020,worker
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,460,1,20,7,Saturday,2021-07-03,22,71000,32,10,2272000,중,2021,student
9996,823,1,10,0,Wednesday,2020-07-01,13,370,7,20,2590,저,2020,student
9997,947,0,10,10,Tuesday,2021-09-07,13,370,8,22,2960,저,2021,student
9998,26,1,10,6,Thursday,2020-05-07,10,590,6,14,3540,저,2020,student
9999,42,1,0,8,Tuesday,2021-06-01,36,2100000,0,22,0,고,2021,child

In [9]:
df1_sorted=df1.sort_values(by='amount',ascending=False)
df1_sorted.head(50)
#12월 25일의 매출의 매출을 기대했으나 고가제품의 영향으로 원하는 데이터는 얻을수 없었음
#고가제품의 양을 늘리거나 12-25일에 대한 데이터 추가 필요예정

,cusno,gender,age,region,day,date,product1,price,quantity,time,amount,product_tag,year,who
1221,753,0,50,3,Saturday,2021-12-25,35,8500000,44,20,374000000,고,2021,worker
1613,614,1,50,8,Saturday,2021-12-25,31,9500000,35,18,332500000,고,2021,worker
2976,191,1,40,3,Sunday,2021-07-25,31,9500000,34,19,323000000,고,2021,worker
4041,331,0,0,10,Saturday,2021-10-09,31,9500000,34,18,323000000,고,2021,child
1608,741,0,0,4,Saturday,2021-05-08,31,9500000,34,12,323000000,고,2021,child
5882,913,0,10,2,Saturday,2020-07-25,31,9500000,34,21,323000000,고,2020,student
6650,859,1,60,9,Saturday,2021-01-30,31,9500000,33,19,313500000,고,2021,worker
8127,283,1,70,1,Sunday,2021-09-19,31,9500000,32,17,304000000,고,2021,elder
858,834,1,0,3,Saturday,2020-06-27,31,9500000,31,22,294500000,고,2020,child
1596,90,1,50,3,Saturday,2020-10-03,31,9500000,31,14,294500000,고,2020,worker
1755,626,1,50,6,Sunday,2021-04-11,31,9500000,31,20,294500000,고,2021,worker
2389,999,1,10,5,Saturday,2021-02-06,31,9500000,31,14,294500000,고,2021,student
7156,332,0,0,7,Saturday,2020-09-19,35,8500000,34,13,289000000,고,2020,child
5794,234,0,40,6,Saturday,2020-03-07,35,8500000,34,19,289000000,고,2020,worker
7126,874,0,30,10,Sunday,2020-11-29,31,9500000,30,17,285000000,고,2020,worker
8937,379,1,30,3,Saturday,2021-09-25,31,9500000,30,14,285000000,고,2021,worker
1525,647,1,50,10,Sunday,2021-07-25,35,8500000,33,10,280500000,고,2021,worker
3967,927,0,20,10,Sunday,2021-05-23,35,8500000,33,22,280500000,고,2021,student
9557,593,1,50,6,Sunday,2021-07-04,35,8500000,33,22,280500000,고,2021,worker
4415,868,1,40,1,Saturday,2020-07-11,35,8500000,33,15,280500000,고,2020,worker
7116,673,0,10,4,Thursday,2020-12-24,35,8500000,33,18,280500000,고,2020,student
1487,168,0,40,5,Sunday,2021-03-14,35,8500000,33,21,280500000,고,2021,worker
5235,218,1,70,5,Sunday,2021-03-14,31,9500000,29,20,275500000,고,2021,elder
8274,422,0,30,4,Sunday,2021-07-25,31,9500000,29,13,275500000,고,2021,worker
5684,284,1,10,10,Sunday,2020-11-01,31,9500000,29,12,275500000,고,2020,student
9657,971,1,40,3,Sunday,2021-08-01,35,8500000,32,19,272000000,고,2021,worker
1503,945,1,10,10,Sunday,2021-04-25,35,8500000,32,10,272000000,고,2021,student
9899,752,1,50,7,Saturday,2021-02-13,35,8500000,32,21,272000000,고,2021,worker
2233,546,1,50,10,Sunday,2020-05-03,35,8500000,32,12,272000000,고,2020,worker
7002,570,0,70,1,Sunday,2020-02-02,31,9500000,28,12,266000000,고,2020,elder
622,445,0,20,0,Saturday,2021-06-19,35,8500000,31,22,263500000,고,2021,student
5853,240,1,60,2,Sunday,2021-02-14,35,8500000,31,22,263500000,고,2021,worker
3094,960,0,50,5,Sunday,2021-11-07,31,9500000,27,10,256500000,고,2021,worker
6420,539,1,40,6,Saturday,2021-03-13,31,9500000,27,17,256500000,고,2021,worker
3820,95,0,60,1,Saturday,2021-10-16,31,9500000,27,22,256500000,고,2021,worker
618,535,0,10,8,Saturday,2020-12-12,31,9500000,26,16,247000000,고,2020,student
8657,884,0,30,9,Saturday,2021-11-13,35,8500000,29,14,246500000,고,2021,worker
3332,214,1,0,7,Saturday,2020-08-29,35,8500000,29,10,246500000,고,2020,child
5365,857,0,50,10,Saturday,2021-09-04,35,8500000,29,13,246500000,고,2021,worker
6367,853,0,70,8,Saturday,2020-05-09,35,8500000,28,21,238000000,고,2020,elder
2162,623,0,0,8,Sunday,2021-10-10,35,8500000,28,21,238000000,고,2021,child
8411,269,0,10,7,Sunday,2021-06-13,35,8500000,28,11,238000000,고,2021,student
418,406,1,20,10,Sunday,2020-07-12,35,8500000,28,20,238000000,고,2020,student
6157,67,0,50,3,Sunday,2020-10-04,31,9500000,25,15,237500000,고,2020,worker
5711,478,1,60,5,Saturday,2021-08-21,31,9500000,25,16,237500000,고,2021,worker
3987,165,1,50,3,Saturday,2021-01-09,31,9500000,25,16,237500000,고,2021,worker
6622,324,0,30,10,Saturday,2020-09-26,35,8500000,27,21,229500000,고,2020,worker
5896,70,1,70,7,Saturday,2021-04-17,35,8500000,27,22,229500000,고,2021,elder
5090,353,0,40,0,Saturday,2020-12-19,35,8500000,27,17,229500000,고,2020,worker
4683,791,0,10,1,Saturday,2021-12-18,31,9500000,24,16,228000000,고,2021,student

In [14]:
pdf=pd.pivot_table(df1,
                    index=['who'],
                    columns=['time'],
                    values=['cusno'],
                    aggfunc=['count']
                   )
pdf
#직장인의 시간대가 몰리는건 확인가능

        count
        cusno
time       10   11   12   13   14   15   16   17   18   19   20   21   22
who
child     103   89   98   93   89   81   94  102   94   95   98   96   92
elder      94   88   83   91   85   97  108   85   91   99   82   96   88
student   199  198  215  162  168  193  194  166  186  176  156  187  186
worker    108  117  611  569  572  119  118  111  569  596  591  562  560

In [30]:
pdf=pd.pivot_table(df1,
                    index=['who'],
                    columns=['day'],
                    values=['amount'],
                    aggfunc=['mean']
                   )
# pdf.columns=[('mean', 'amount',    'Monday'),
#             ('mean', 'amount',    'Tuesday'),
#             ('mean', 'amount',  'Wednesday'),
#             ('mean', 'amount',    'Thursday'),
#             ('mean', 'amount',  'Friday'),
#             ('mean', 'amount',   'Saturday'),
#             ('mean', 'amount', 'Sunday')]
# pdf
pdf

                 mean                                                          \
               amount
day            Friday        Monday      Saturday        Sunday      Thursday
who
child    1.869454e+06  1.052771e+06  2.548447e+07  1.621462e+07  1.080944e+06
elder    9.253859e+06  5.859006e+06  1.756402e+07  2.263147e+07  6.863557e+06
student  1.771823e+06  1.855706e+06  1.534986e+07  1.784232e+07  3.745551e+06
worker   7.915947e+06  7.006550e+06  1.941779e+07  2.043710e+07  7.713754e+06



day           Tuesday     Wednesday
who
child    9.851834e+05  8.734900e+05
elder    4.786662e+06  8.159339e+06
student  1.766367e+06  1.567517e+06
worker   7.375025e+06  5.448880e+06