In [ ]:
#### Q2. df를 수정하여 5가지 이상의 인사이트를 포함한 데이터 셋으로 변환하세요

#### Q3. df 를 탐색적 분석을 통하여 인사이트를 도출하세요.

In [98]:
import numpy as np
import pandas as pd
from datetime import datetime
from random import randrange
import warnings
warnings.filterwarnings(action='ignore')
index=np.arange(10000)
df=pd.DataFrame(np.random.rand(10000,11),index=index,columns=['cusno','gender','age','region',
                                           'day','date','product1','price','quantity','time','amount']) 

df.cusno=np.random.randint(0,1000,10000)
gender=np.random.randint(0,2,10000)
for i in range(len(df)):
    df.gender[i]=gender[df.cusno[i]]
age=np.random.randint(0,81,10000) 
for i in range(len(df)):
    df.age[i]=age[df.cusno[i]]
region=np.random.randint(0,11,10000)
for i in range(len(df)):
    df.region[i]=region[df.cusno[i]]
date_list=[]
start_date = pd.to_datetime('2020-01-01')
end_date = pd.to_datetime('2021-12-31')
date_list = pd.date_range(start_date,end_date,freq='D')
df.date=np.random.choice(date_list,10000)
df.day = df.date.dt.day_name()
df.product1=np.random.randint(10,40,10000)
price= np.random.randint(1,50,10000)
for i in range(len(df)):
    if df.product1[i] < 20:
        df.price[i] = price[df.product1[i]]*10
    elif df.product1[i] < 30:
        df.price[i] = price[df.product1[i]]*100
    elif df.product1[i] < 40:
        df.price[i] = price[df.product1[i]]*1000
df.quantity=np.random.randint(1,50,10000)
# df.quantity_21=np.random.randint(1,101,10000)
df.time=np.random.randint(10,23,10000)
# df.time_21=np.random.randint(1,25,10000)
df.amount = df.price*df.quantity
# df.amount_21 = df.price_21*df.quantity_21
# df.loc[df.amount_21 > df.amount_20,'sales'] = 1
# df.loc[df.amount_21 < df.amount_20,'sales'] = 0
# df.loc[df.amount_21 == df.amount_20,'sales'] = np.nan
df

,cusno,gender,age,region,day,date,product1,price,quantity,time,amount
0,824,0.0,17.0,9.0,Thursday,2020-04-09,31,37000.0,16,21,592000.0
1,969,0.0,13.0,6.0,Sunday,2020-03-15,25,3800.0,15,11,57000.0
2,653,0.0,16.0,1.0,Tuesday,2020-06-16,32,46000.0,9,18,414000.0
3,592,0.0,54.0,3.0,Tuesday,2021-01-05,10,90.0,18,17,1620.0
4,112,1.0,64.0,10.0,Saturday,2021-10-16,10,90.0,34,19,3060.0
...,...,...,...,...,...,...,...,...,...,...,...
9995,664,1.0,5.0,9.0,Friday,2020-01-24,11,130.0,6,22,780.0
9996,468,0.0,40.0,8.0,Friday,2021-07-30,13,320.0,11,18,3520.0
9997,534,0.0,74.0,1.0,Saturday,2020-08-08,25,3800.0,19,13,72200.0
9998,833,0.0,75.0,9.0,Tuesday,2020-05-05,30,35000.0,40,13,1400000.0
9999,758,0.0,2.0,6.0,Monday,2021-07-05,28,3100.0,31,11,96100.0

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   cusno     10000 non-null  int32
 1   gender    10000 non-null  float64
 2   age       10000 non-null  float64
 3   region    10000 non-null  float64
 4   day       10000 non-null  object
 5   date      10000 non-null  datetime64[ns]
 6   product1  10000 non-null  int32
 7   price     10000 non-null  float64
 8   quantity  10000 non-null  int32
 9   time      10000 non-null  int32
 10  amount    10000 non-null  float64
dtypes: datetime64[ns](1), float64(5), int32(4), object(1)
memory usage: 1.0+ MB

In [99]:
# 시간 10 to 22 입장시간 
# 주말 매출 증가
# 제품별 가격대 설정 저 중 고 10  20  30
# 크리스마스등 특정 연휴에 판매 증가 저->고 갈수록 제품의 매출 증가 
# 월-금 시간대에 시간을 제약해보기 (20대 ~ 50대 )
# 나이대에 따라 저 중 고 선호도 추가
df1=df.copy()
df1.time_20=np.random.randint(10,23,10000)
df1.time_21=np.random.randint(10,23,10000)
df1['year']=df1.date.dt.year
for i in range(len(df1)):
    if df1.age[i] < 10:
        df1.age[i] = 0
    elif df1.age[i] < 20:
        df1.age[i] = 10
    elif df1.age[i] < 30:
        df1.age[i] = 20
    elif df1.age[i] < 40:
        df1.age[i] = 30
    elif df1.age[i] < 50:
        df1.age[i] = 40
    elif df1.age[i] < 60:
        df1.age[i] = 50
    elif df1.age[i] < 70:
        df1.age[i] = 60
    elif df1.age[i] < 80:
        df1.age[i] = 70
df1['who']=df1.age
for i in range(len(df1)):    
    if df1.who[i] < 10:
        df1.who[i] = 'child'
    elif df1.who[i] < 25:
        df1.who[i] = 'student' 
    elif df1.who[i] < 65:
        df1.who[i] = 'worker'
    else: 
        df1.who[i] = 'elder'
# df1.describe()
df1

,cusno,gender,age,region,day,date,product1,price,quantity,time,amount,year,who
0,824,0.0,10.0,9.0,Thursday,2020-04-09,31,37000.0,16,21,592000.0,2020,student
1,969,0.0,10.0,6.0,Sunday,2020-03-15,25,3800.0,15,11,57000.0,2020,student
2,653,0.0,10.0,1.0,Tuesday,2020-06-16,32,46000.0,9,18,414000.0,2020,student
3,592,0.0,50.0,3.0,Tuesday,2021-01-05,10,90.0,18,17,1620.0,2021,worker
4,112,1.0,60.0,10.0,Saturday,2021-10-16,10,90.0,34,19,3060.0,2021,worker
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,664,1.0,0.0,9.0,Friday,2020-01-24,11,130.0,6,22,780.0,2020,child
9996,468,0.0,40.0,8.0,Friday,2021-07-30,13,320.0,11,18,3520.0,2021,worker
9997,534,0.0,70.0,1.0,Saturday,2020-08-08,25,3800.0,19,13,72200.0,2020,elder
9998,833,0.0,70.0,9.0,Tuesday,2020-05-05,30,35000.0,40,13,1400000.0,2020,elder
9999,758,0.0,0.0,6.0,Monday,2021-07-05,28,3100.0,31,11,96100.0,2021,child

In [90]:
df1.loc[df1.day=='Saturday']

,cusno,gender,age,region,day,date,product1,price,quantity,time,amount,year,who
0,20,0.0,50.0,1.0,Saturday,2021-04-24,12,250.0,6,13,1500.0,2021,worker
3,593,1.0,30.0,4.0,Saturday,2020-08-15,10,20.0,22,20,440.0,2020,worker
5,757,1.0,50.0,10.0,Saturday,2020-01-18,16,40.0,79,15,3160.0,2020,worker
6,661,0.0,50.0,7.0,Saturday,2021-07-10,13,210.0,8,21,1680.0,2021,worker
26,123,0.0,50.0,10.0,Saturday,2021-03-27,30,29000.0,89,18,2581000.0,2021,worker
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9973,537,1.0,40.0,4.0,Saturday,2021-08-28,28,3500.0,75,15,262500.0,2021,worker
9978,750,0.0,40.0,7.0,Saturday,2020-08-01,20,4200.0,47,21,197400.0,2020,worker
9983,888,1.0,70.0,0.0,Saturday,2021-02-13,18,330.0,59,16,19470.0,2021,elder
9987,725,0.0,10.0,8.0,Saturday,2020-09-05,19,240.0,96,17,23040.0,2020,student
9997,761,1.0,30.0,3.0,Saturday,2021-08-28,25,4900.0,20,14,98000.0,2021,worker

In [93]:
grouped_day=df1.groupby(['day'])
sr=grouped_day.get_group('Saturday')
sr.quantity = np.random.randint(30,130,1402)
df1.loc[df1.day=='Saturday','quantity']=sr.quantity

In [83]:
df1.loc[df.day=='Saturday']

,cusno,gender,age,region,day,date,product1,price,quantity,time,amount,year,who
0,20,0.0,50.0,1.0,Saturday,2021-04-24,12,250.0,128.0,13,1500.0,2021,worker
3,593,1.0,30.0,4.0,Saturday,2020-08-15,10,20.0,34.0,20,440.0,2020,worker
5,757,1.0,50.0,10.0,Saturday,2020-01-18,16,40.0,59.0,15,3160.0,2020,worker
6,661,0.0,50.0,7.0,Saturday,2021-07-10,13,210.0,91.0,21,1680.0,2021,worker
26,123,0.0,50.0,10.0,Saturday,2021-03-27,30,29000.0,106.0,18,2581000.0,2021,worker
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9973,537,1.0,40.0,4.0,Saturday,2021-08-28,28,3500.0,89.0,15,262500.0,2021,worker
9978,750,0.0,40.0,7.0,Saturday,2020-08-01,20,4200.0,126.0,21,197400.0,2020,worker
9983,888,1.0,70.0,0.0,Saturday,2021-02-13,18,330.0,66.0,16,19470.0,2021,elder
9987,725,0.0,10.0,8.0,Saturday,2020-09-05,19,240.0,94.0,17,23040.0,2020,student
9997,761,1.0,30.0,3.0,Saturday,2021-08-28,25,4900.0,67.0,14,98000.0,2021,worker

In [85]:
df1.loc[df.cusno==20]

,cusno,gender,age,region,day,date,product1,price,quantity,time,amount,year,who
0,20,0.0,50.0,1.0,Saturday,2021-04-24,12,250.0,128.0,13,1500.0,2021,worker
3519,20,0.0,50.0,1.0,Wednesday,2021-03-17,26,2100.0,NaN,22,193200.0,2021,worker
4736,20,0.0,50.0,1.0,Sunday,2020-09-13,31,48000.0,NaN,10,2112000.0,2020,worker
5719,20,0.0,50.0,1.0,Sunday,2020-05-17,16,40.0,NaN,17,2840.0,2020,worker
5857,20,0.0,50.0,1.0,Thursday,2021-12-23,14,240.0,NaN,13,18480.0,2021,worker
6310,20,0.0,50.0,1.0,Friday,2021-03-12,29,2300.0,NaN,12,158700.0,2021,worker
6349,20,0.0,50.0,1.0,Friday,2020-06-26,25,4900.0,NaN,16,259700.0,2020,worker
6427,20,0.0,50.0,1.0,Thursday,2020-03-12,20,4200.0,NaN,14,357000.0,2020,worker
6928,20,0.0,50.0,1.0,Monday,2021-12-13,17,150.0,NaN,12,11250.0,2021,worker
9172,20,0.0,50.0,1.0,Friday,2020-11-13,39,17000.0,NaN,10,459000.0,2020,worker

In [40]:
df1.loc[(df1.who=='child') & (df1.amount>1000000),'quantity'] = np.random.randint(5,30)

In [105]:
grouped_who = df1.groupby(['who'])
grouped_who.get_group('elder')

,cusno,gender,age,region,day,date,product1,price,quantity,time,amount,year,who
16,395,0.0,70.0,5.0,Friday,2020-10-16,30,35000.0,1,13,35000.0,2020,elder
22,395,0.0,70.0,5.0,Monday,2020-09-28,11,130.0,36,16,4680.0,2020,elder
44,343,1.0,70.0,8.0,Thursday,2020-05-14,36,1000.0,5,20,5000.0,2020,elder
46,720,1.0,70.0,8.0,Thursday,2020-03-05,12,360.0,5,21,1800.0,2020,elder
47,976,1.0,70.0,1.0,Wednesday,2020-01-01,20,2900.0,21,22,60900.0,2020,elder
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9968,583,0.0,70.0,7.0,Saturday,2021-12-11,23,2100.0,15,11,31500.0,2021,elder
9981,976,1.0,70.0,1.0,Thursday,2020-01-23,21,2600.0,13,13,33800.0,2020,elder
9988,207,0.0,70.0,8.0,Saturday,2020-03-14,11,130.0,47,12,6110.0,2020,elder
9997,534,0.0,70.0,1.0,Saturday,2020-08-08,25,3800.0,19,13,72200.0,2020,elder
9998,833,0.0,70.0,9.0,Tuesday,2020-05-05,30,35000.0,40,13,1400000.0,2020,elder