In [124]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import mariadb
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
plt.style.use('seaborn')
plt.rc('font',family='Malgun Gothic') # 한글폰트 설정
plt.rcParams['axes.unicode_minus'] = False # 마이너스 단위 설정

# # 실데이터 가져오기

In [78]:
# 실제 데이터를 가져오는 사용자함수
def get_data(table_name):
    import pandas as pd
    import mariadb
    import sys

    # Connect to MariaDB Platform
    try:
        conn = mariadb.connect(
            user="root",
            password="root",
            host="localhost",
            port=3306,
            database="smart_factory"
        )
    except mariadb.Error as e:
        print(f"Error connecting to MariaDB Platform: {e}")
        sys.exit(1)
    
    # Get Cursor
    cur = conn.cursor()
    cur.execute(f"select 수주일자, 거래처코드, 제품명, `{table_name}`.`제품코드`,지역16, 수주량 from `{table_name}`, `production_re` where `production_re`.`제품코드` = `{table_name}`.`제품코드`")
    x = cur.fetchall()
    df = pd.DataFrame(x,columns=['SOLDDATE','CUSTID','PRODNAME','PRODCODE','REGION','QUANT'])
    df.QUANT = df.QUANT.astype(int)
    return df

In [99]:
df_21 = get_data('contract')
df_21.REGION = df_21.REGION.replace('0','충청남도')
df_21

        SOLDDATE   CUSTID     PRODNAME       PRODCODE REGION  QUANT
0     2021-02-22  2001102   PEMA-580FX  PEMA033101400   충청남도  15000
1     2021-02-22  2001200   PEMA-580FX  PEMA023098200   충청남도  20000
2     2021-02-22  2001300           AE   SSA073046500     서울   2000
3     2021-02-22  2001400      CSA5000  PEMA043099800   경상북도  10000
4     2021-02-22  2001500      CSA5000  PEMA013120000   경상북도  10000
...          ...      ...          ...            ...    ...    ...
1714  2021-04-21  2007400  PEMA-SR2000  PEMA043103800     인천  10000
1715  2021-04-21  2007500  PEMA-SR2000  PEMA023122400  부산광역시   8000
1716  2021-04-21  2007600  PEMA-HR1000  PEMA353048300   충청북도   7000
1717  2021-04-21  2007700   PEMA-SN400  TSN4012011125  경기도남부  10000
1718  2021-04-21  2007800  PEMA-SR2000  PEMA013123000     인천  10000

[1719 rows x 6 columns]

In [80]:
df_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1719 entries, 0 to 1718
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SOLDDATE  1719 non-null   object
 1   CUSTID    1719 non-null   object
 2   PRODNAME  1719 non-null   object
 3   PRODCODE  1719 non-null   object
 4   REGION    1719 non-null   object
 5   QUANT     1719 non-null   int32
dtypes: int32(1), object(5)
memory usage: 74.0+ KB

# # 기상청 데이터 가져오기

## # api로 데이터 불러와서 직접 매칭
---

In [151]:
# ## 수도권
# 서울 = ['서울','강서','송파','남서울','동서울','신림','풍납','성수']  ### 기상CODE 108 / (서울) 수도권기상청
# 경기도북부 = ['동두천','남양주','파주','덕소','양주','일산','의정부','김포','진접','포천','구리','고양','화도']  ### 기상CODE 98 / (동두천) 수도권기상청
# 경기도남부 = ['하남','용인','광주','오산','수원','평택','이천','동탄','안성','양평','화성','여주','안산','광명','성남','비봉','의왕','미사리']   ### 기상CODE 119 / (수원) 수도권기상청
# 인천 = ['인천','가좌','부천','송도','서인천','대산']  ### 기상CODE 112 / (인천) 수도권기상청

# ## 경상도 
# 부산광역시 = ['부산','정관','회동동','서부산']       ### 기상CODE / 159 (부산) 부산지방기상청
# 울산광역시 = ['울산','언양','온산','남부']  ### 기상CODE / 152 (울산) 울산기상대	
# 대구광역시 = ['대구','하빈']                ### 기상CODE / 143 (대구) 대구지방기상청
# 경상북도 = ['포항','경주','칠곡','울진','문경','안동','약목','경산','단촌','고령','영덕','예천','구미','영양','성주','남포항' ]  ### 기상CODE 278 / (의성) 대구지방기상청
# 경상남도 =['함안','진해','김해','의령','양산','합천','칠서','진주','산청','함양','창녕','창원','밀양','하동','진영','사천','마산']  ### 기상CODE 263 / (의령군) 창원기상대


# ## 전라도
# 전라북도 =['정읍','이서','익산','완주','군산','남원','부안','장수','임실','전주','오수','군위','순창' ]  ### 기상CODE 146 / (전주) 전주기상지청
# 전라남도 =['순천','담양','여수','나주','영광','화순','장흥','해남','광양','노화도','목포','장성','무안','구례','군산한전주']   ### 기상CODE 156 / (광주) 광주지방기상청


# ## 충청도
# 대전광역시 = ['대전','장동']  ### 기상CODE 133 / (대전) 대전지방기상청
# 세종시 = ['세종','연기']  ### 기상CODE 239 / (세종) 대전지방기상청
# 충청북도 = [ '청주','음성','충주','옥천','청원','진천','보은','단양','옥산' ]  ### 기상CODE 131 / (청주) 청주기상지청	
# 충청남도 = [ '서산','당진','계룡','천안','아산','영동','청양','홍성','금산','태안','공주','예산','천북','부여','논산','보령' ]  ### 기상CODE 129 / (서산) 홍성기상대


# ## 강원도
# 강원도 = ['강릉','동해','원주','삼척','철원','횡성','옥계','고성','양양','평창','춘천','영월']  ### 기상CODE 114 / (원주) 강원지방기상청	

def cat_location(x):
        if x == '서울': return 108
        elif x == '경기도북부': return 98
        elif x == '경기도남부': return 119
        elif x == '인천': return 112
        elif x == '부산광역시': return 159
        elif x == '대구광역시': return 143
        elif x == '울산광역시': return 152
        elif x == '경상북도': return 278
        elif x == '경상남도': return 263
        elif x == '전라북도': return 146
        elif x == '전라남도': return 156
        elif x == '대전광역시': return 133
        elif x == '세종시': return 239
        elif x == '충청북도': return 131
        elif x == '충청남도': return 129
        elif x == '강원도': return 114
        else: return 119 ## 해당 안될시 생판지역인 평택 기준 날씨로 변환

def loc_weather(start_date, end_date, location):
    import json
    import pandas as pd
    import requests
    import numpy as np

    start_date = start_date.replace('-','')
    end_date = end_date.replace('-','')

    location_code = cat_location(location)

    url = 'http://apis.data.go.kr/1360000/AsosDalyInfoService/getWthrDataList'

    params ={'serviceKey' : 'ZKOx0KH7l+PcSZZNRvuI54pjFf5gbYeIa1ccvoUcbzlwPA7ZRd9AqYB+V6++N/urN+9OncLmDH9MvqvMu5SKbg==', 
            'pageNo' : '1', 
            'numOfRows' : '999', 
            'dataType' : 'JSON', 
            'dataCd' : 'ASOS', 
            'dateCd' : 'DAY', 
            'startDt' : start_date,
            'endDt' : end_date, 
            'stnIds' : str(location_code) }


    response = requests.get(url, params=params).json()
    r_response = response.get("response")
    r_body = r_response.get("body")
    r_items = r_body.get("items")
    r_item = r_items.get("item")

    time = [] #일자
    tem = [] #온도
    hum = [] #습도

    for i in range(len(r_item)):
        time.append(r_item[i]['tm'])
        tem.append(r_item[i]['avgTa'])
        hum.append(r_item[i]['avgRhm'])

    time = pd.Series(time)
    tem = pd.Series(tem)
    hum = pd.Series(hum)

    data = [time, tem, hum]

    df = pd.concat(data, axis=1)

    df.columns = ['SOLDDATE','TEMP','HUM']
    df.replace('', 0,inplace=True)

    df['SOLDDATE'] = pd.to_datetime(df['SOLDDATE'])
    df['TEMP'] = round(df['TEMP'].astype('float32'),1)
    df['HUM'] = round(df['HUM'].astype('float32'),1)
    df['REGION'] = location
#     fin_df = df.set_index('일자').resample('w').mean()
    return df

In [81]:
weather_df = pd.DataFrame(columns=['SOLDDATE','TEMP','HUM'])
for idx in df_21.index:
    date = str(df_21.loc[idx,'SOLDDATE'])
    loca = df_21.loc[idx,'REGION']
    df_temp = loc_weather(date,date,loca)
    weather_df = pd.concat([weather_df,df_temp],axis=0)
    
weather_df

KeyboardInterrupt:

## # api로 데이터 불러와서 csv 파일 생성 후 매칭
---

In [154]:
def make_weather_data(year):
    start_date = str(year) + '-01-01'
    end_date = str(year) + '-12-31'
    loc_li = ['서울','경기도북부','경기도남부','인천','부산광역시','대구광역시','울산광역시','경상북도','경상남도','전라북도','전라남도','대전광역시','세종시','충청북도','충청남도','강원도']
    
    weather_df_all = pd.DataFrame()
    for i in loc_li:
        weather_df = loc_weather(start_date,end_date,i)
        weather_df_all = pd.concat((weather_df_all, weather_df), axis = 0)
        
    weather_df_all.to_csv(f'./weather_{year}.csv', index = False, encoding = 'cp949')
        
make_weather_data(2019)

In [94]:
weather_df = pd.read_csv('./weather_2021.csv')

# # 건축허가, 건축착공 면적 데이터 가져오기
---

## # 건축허가 면적
---

In [83]:
# 실제 데이터를 가져오는 사용자함수
def get_permission(table_name):
    import pandas as pd
    import mariadb
    import sys

    # Connect to MariaDB Platform
    try:
        conn = mariadb.connect(
            user="root",
            password="root",
            host="localhost",
            port=3306,
            database="smart_factory"
        )
    except mariadb.Error as e:
        print(f"Error connecting to MariaDB Platform: {e}")
        sys.exit(1)
    
    # Get Cursor
    cur = conn.cursor()
    cur.execute(f"select 연도, 월, 총계, 전월대비증감율 from `{table_name}`")
    x = cur.fetchall()
    df = pd.DataFrame(x,columns=['YEAR','MONTH','PERMISSION','PERMISSION_RATE'])
    return df

In [84]:
df_permission = get_permission('building_permission')
df_permission.head()

   YEAR  MONTH  PERMISSION  PERMISSION_RATE
0  2019      3  13087098.0             14.6
1  2019      4  12906388.0             -1.4
2  2019      5  10953171.0            -15.1
3  2019      6  10400171.0             -5.0
4  2019      7  12459042.0             19.8

## # 건축 착공 면적
---

In [85]:
# 실제 데이터를 가져오는 사용자함수
def get_construction(table_name):
    import pandas as pd
    import mariadb
    import sys

    # Connect to MariaDB Platform
    try:
        conn = mariadb.connect(
            user="root",
            password="root",
            host="localhost",
            port=3306,
            database="smart_factory"
        )
    except mariadb.Error as e:
        print(f"Error connecting to MariaDB Platform: {e}")
        sys.exit(1)
    
    # Get Cursor
    cur = conn.cursor()
    cur.execute(f"select 연도, 월, 총계, 전월대비증감율 from `{table_name}`")
    x = cur.fetchall()
    df = pd.DataFrame(x,columns=['YEAR','MONTH','CONSTRUCTION','CONSTRUCTION_RATE'])
    return df

In [86]:
df_construction = get_construction('building_construction')
df_construction.head()

   YEAR  MONTH  CONSTRUCTION  CONSTRUCTION_RATE
0  2019      3    10659525.0               42.7
1  2019      4    11014065.0                3.3
2  2019      5    11100662.0                0.8
3  2019      6     9165649.0              -17.4
4  2019      7     8936557.0               -2.5

# # 병합 하여 데이터프레임 구성

In [100]:
# 날씨 데이터 반영

df_21 = pd.concat([df_21,weather_df.drop('SOLDDATE',axis=1)],axis=1)
df_21 = df_21[['SOLDDATE', 'CUSTID', 'PRODNAME', 'PRODCODE', 'REGION', 'TEMP', 'HUM', 'QUANT']]
df_21

,SOLDDATE,CUSTID,PRODNAME,PRODCODE,REGION,TEMP,HUM,QUANT
0,2021-02-22,2001102,PEMA-580FX,PEMA033101400,충청남도,6.5,67.6,15000
1,2021-02-22,2001200,PEMA-580FX,PEMA023098200,충청남도,6.5,67.6,20000
2,2021-02-22,2001300,AE,SSA073046500,서울,7.8,58.3,2000
3,2021-02-22,2001400,CSA5000,PEMA043099800,경상북도,9.6,48.6,10000
4,2021-02-22,2001500,CSA5000,PEMA013120000,경상북도,9.6,48.6,10000
...,...,...,...,...,...,...,...,...
1714,2021-04-21,2007400,PEMA-SR2000,PEMA043103800,인천,16.9,52.9,10000
1715,2021-04-21,2007500,PEMA-SR2000,PEMA023122400,부산광역시,18.6,44.3,8000
1716,2021-04-21,2007600,PEMA-HR1000,PEMA353048300,충청북도,20.3,34.9,7000
1717,2021-04-21,2007700,PEMA-SN400,TSN4012011125,경기도남부,17.8,50.9,10000
1718,2021-04-21,2007800,PEMA-SR2000,PEMA013123000,인천,16.9,52.9,10000

In [101]:
# 건축허가, 건축착공 면적 반영

df_21['PERMISSION'] = 0
df_21['PERMISSION_RATE'] = 0
df_21['CONSTRUCTION'] = 0
df_21['CONSTRUCTION_RATE'] = 0

for i in df_21.index:
    year = df_21.loc[i,'SOLDDATE'].year
    month = df_21.loc[i,'SOLDDATE'].month
    df_21.loc[i,'PERMISSION'] = df_permission.loc[(df_permission['YEAR']==year) & (df_permission['MONTH']==month)].PERMISSION.values[0]
    df_21.loc[i,'PERMISSION_RATE'] = df_permission.loc[(df_permission['YEAR']==year) & (df_permission['MONTH']==month)].PERMISSION_RATE.values[0]
    df_21.loc[i,'CONSTRUCTION'] = df_construction.loc[(df_construction['YEAR']==year) & (df_construction['MONTH']==month)].CONSTRUCTION.values[0]
    df_21.loc[i,'CONSTRUCTION_RATE'] = df_construction.loc[(df_construction['YEAR']==year) & (df_construction['MONTH']==month)].CONSTRUCTION_RATE.values[0]
df_21 = df_21[['SOLDDATE', 'CUSTID', 'PRODNAME', 'PRODCODE', 'REGION', 'TEMP', 'HUM', 'PERMISSION', 'PERMISSION_RATE', 'CONSTRUCTION', 'CONSTRUCTION_RATE', 'QUANT']]

df_21

,SOLDDATE,CUSTID,PRODNAME,PRODCODE,REGION,TEMP,HUM,PERMISSION,PERMISSION_RATE,CONSTRUCTION,CONSTRUCTION_RATE,QUANT
0,2021-02-22,2001102,PEMA-580FX,PEMA033101400,충청남도,6.5,67.6,10866840,13.2,10281640,34.6,15000
1,2021-02-22,2001200,PEMA-580FX,PEMA023098200,충청남도,6.5,67.6,10866840,13.2,10281640,34.6,20000
2,2021-02-22,2001300,AE,SSA073046500,서울,7.8,58.3,10866840,13.2,10281640,34.6,2000
3,2021-02-22,2001400,CSA5000,PEMA043099800,경상북도,9.6,48.6,10866840,13.2,10281640,34.6,10000
4,2021-02-22,2001500,CSA5000,PEMA013120000,경상북도,9.6,48.6,10866840,13.2,10281640,34.6,10000
...,...,...,...,...,...,...,...,...,...,...,...,...
1714,2021-04-21,2007400,PEMA-SR2000,PEMA043103800,인천,16.9,52.9,16145048,6.5,12006327,-8.7,10000
1715,2021-04-21,2007500,PEMA-SR2000,PEMA023122400,부산광역시,18.6,44.3,16145048,6.5,12006327,-8.7,8000
1716,2021-04-21,2007600,PEMA-HR1000,PEMA353048300,충청북도,20.3,34.9,16145048,6.5,12006327,-8.7,7000
1717,2021-04-21,2007700,PEMA-SN400,TSN4012011125,경기도남부,17.8,50.9,16145048,6.5,12006327,-8.7,10000
1718,2021-04-21,2007800,PEMA-SR2000,PEMA013123000,인천,16.9,52.9,16145048,6.5,12006327,-8.7,10000

In [76]:
df_21.columns.tolist()

['SOLDDATE',
 'CUSTID',
 'PRODNAME',
 'PRODCODE',
 'REGION',
 'TEMP',
 'TEMP',
 'HUM',
 'HUM',
 'PERMISSION',
 'PERMISSION_RATE',
 'CONSTRUCTION',
 'CONSTRUCTION_RATE',
 'QUANT']

## # 제품 별로 데이터프레임 나누기
---

In [114]:
df_21_prod_li = []
for prodname in df_21['PRODNAME'].unique():
    df_21_prod = df_21.loc[df_21['PRODNAME'] == prodname]
    df_21_prod_li.append(df_21_prod)

In [125]:
df_21_prod_li[0]['REGION'].unique()

df_21_prod_li[0]['SOLDDATE'].unique()

array([datetime.date(2021, 2, 22), datetime.date(2021, 2, 23),
       datetime.date(2021, 2, 24), datetime.date(2021, 2, 25),
       datetime.date(2021, 2, 26), datetime.date(2021, 3, 3),
       datetime.date(2021, 3, 4), datetime.date(2021, 3, 7),
       datetime.date(2021, 3, 8), datetime.date(2021, 3, 9),
       datetime.date(2021, 3, 11), datetime.date(2021, 3, 14),
       datetime.date(2021, 3, 15), datetime.date(2021, 3, 17),
       datetime.date(2021, 3, 18), datetime.date(2021, 3, 22),
       datetime.date(2021, 3, 24), datetime.date(2021, 3, 28),
       datetime.date(2021, 3, 29), datetime.date(2021, 3, 30),
       datetime.date(2021, 4, 1), datetime.date(2021, 4, 2),
       datetime.date(2021, 4, 5), datetime.date(2021, 4, 6),
       datetime.date(2021, 4, 7), datetime.date(2021, 4, 9),
       datetime.date(2021, 4, 13), datetime.date(2021, 4, 14),
       datetime.date(2021, 4, 19), datetime.date(2021, 4, 20),
       datetime.date(2021, 4, 21)], dtype=object)

In [127]:
df_21_prod_li[0]

,SOLDDATE,CUSTID,PRODNAME,PRODCODE,REGION,TEMP,HUM,PERMISSION,PERMISSION_RATE,CONSTRUCTION,CONSTRUCTION_RATE,QUANT
0,2021-02-22,2001102,PEMA-580FX,PEMA033101400,충청남도,6.5,67.6,10866840,13.2,10281640,34.6,15000
1,2021-02-22,2001200,PEMA-580FX,PEMA023098200,충청남도,6.5,67.6,10866840,13.2,10281640,34.6,20000
36,2021-02-23,2004700,PEMA-580FX,PEMA073050413,인천,-0.6,32.6,10866840,13.2,10281640,34.6,15000
37,2021-02-23,2004800,PEMA-580FX,PEMA013099150,인천,-0.6,32.6,10866840,13.2,10281640,34.6,20000
85,2021-02-24,2002600,PEMA-580FX,PEMA033103000,전라남도,3.9,42.0,10866840,13.2,10281640,34.6,15000
...,...,...,...,...,...,...,...,...,...,...,...,...
1591,2021-04-19,2004100,PEMA-580FX,PEMA013099150,인천,10.9,65.9,16145048,6.5,12006327,-8.7,20000
1638,2021-04-20,2001600,PEMA-580FX,PEMA013107101,경기도남부,13.3,63.4,16145048,6.5,12006327,-8.7,10000
1639,2021-04-20,2001700,PEMA-580FX,PEMA023098200,충청남도,13.2,56.6,16145048,6.5,12006327,-8.7,20000
1675,2021-04-21,2005300,PEMA-580FX,PEMA023098200,충청남도,17.1,44.9,16145048,6.5,12006327,-8.7,20000
1676,2021-04-21,2005400,PEMA-580FX,PEMA033040000,전라북도,18.5,43.9,16145048,6.5,12006327,-8.7,20000

## # 날짜 순으로 빈 데이터프레임 만들기
---

In [102]:
# 연도를 입력하면 전체 날짜가 포함된 날짜가 있는 데이터프레임 생성 (데이터 타입은 datetime)
# end date를 주면 거기까지만 생성하도록 한다.

def get_date(year=None,startdate = None, enddate=None):
    import datetime
    import numpy as np
    import pandas as pd 
    if startdate == None:
        date = str(year) + '0101'
        date = datetime.datetime.strptime(date,'%Y%m%d')
    else:
        date = startdate
        date = datetime.datetime.strptime(date,'%Y%m%d')
    if enddate != None:
        enddate = datetime.datetime.strptime(enddate,'%Y%m%d')

    li = []
    stop = 0
    stop_year = date.year + 1
    while stop == 0:
        li.append(date)
        date = date + datetime.timedelta(days=1)
        if date.year == stop_year:
            stop = 1
        elif date - datetime.timedelta(days=1) == enddate:
            stop = 1
    df = pd.DataFrame(np.array(li),columns=['SOLDDATE'])
    df.SOLDDATE = df.SOLDDATE.apply(lambda x: str(x.date()))
    return df

In [103]:
df_date_21 = get_date(2021,startdate='20210422',enddate='2021')
df_date_21

       SOLDDATE
0    2021-01-01
1    2021-01-02
2    2021-01-03
3    2021-01-04
4    2021-01-05
..          ...
360  2021-12-27
361  2021-12-28
362  2021-12-29
363  2021-12-30
364  2021-12-31

[365 rows x 1 columns]

# # xgboost를 활용하여 데이터 증식
---

In [37]:
from xgboost import XGBRegressor